* {
  margin: 0;
  padding: 0;
}
.map {
  width: 100%;
  padding: 3vw;
}

.card-text {
  text-align: center;
  font-size: 1.6vw;
}

.header {
  /* background-color: #3498db; */
  height: 110px;
}
h2{
    font-size: 4vw;
    text-align: center;
    color: black;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

h5 {
  font-size: 2vw;
  text-align: center;
  color: black;
  text-decoration: underline;
  margin-top: 10px;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.container {
  align-items: center;
  margin-bottom: 2vw;
  width: 100%;
  height: auto;
}

.card {
  box-shadow: 0 30px 28px 0 rgba(0, 0, 3, 0.2);
  object-fit: contain;
  width: auto;
} 

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rosas {
  object-fit: contain;
  font-size: 8vw;
  text-align: center;
  height: 25vw;
  line-height: 20vw;
  color: #fcedd8;
  background: #d52e3f;
  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #c11a2b,
    35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b, 45px 45px 0px #c11a2b;
}

@media only screen and (max-width: 1000px) {
    .my-row{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin: 2vh;
    }
    .footer__text{
        font-size: 5em;
    }
    h5{
        font-size: 1.7em;
    }
    .card-text{
        font-size: 1.5em;
    }
  }

@media only screen and (max-width: 1000px) {
  .rosas {
    text-shadow: 1px 1px 0px #eb452b, 2px 2px 0px #efa032, 3px 3px 0px #46b59b,
      4px 4px 0px #017e7f, 5px 5px 0px #052939, 6px 6px 0px #c11a2b,
      7px 7px 0px #c11a2b, 8px 8px 0px #c11a2b, 9px 9px 0px #c11a2b;
  }
}

.container_map {
  /* padding: 1.5em; */
  /* height: 37vw; */
  background-color: rgba(0, 0, 0, 0.2);
}

footer {
  background-color: black;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.7rem;
  text-align: center;
}

.footer__text{
    padding-top:0.5rem;
    text-align: center;
    color: white;
    font-size: 1em;
}
